{% extends "vodkamartiniqa/base_questions.html" %}

{% block title %}
    {% if object %}
    Edit Question
    {% else %}
    Add Question
    {% endif %}
{% endblock %}

{% block content %}
    {% if object %}
        <h1>Let's edit this question: {{ object.title }}</h1>
        <p>Published on {{ object.created|date:"F j, Y" }}</p>
        <p>Author: <strong>{{ object.author.id }} {{ object.author.username }}</strong></p>
        <p><a href="{{ object.get_absolute_url }}">Read full question</a></p>
    {% else %}
        <h1>Add new question</h1>
    {% endif %}

  {% if form.errors %}
    <p style="color: red;">Correct error{{ form.errors|pluralize }}</p>
  {% endif %}

  <form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="{% if object %}Save Question{% else %}Add Question{% endif %}" />
  </form>
{% endblock %}
